@charset "UTF-8";
body {
    width: 100%;
    margin 0;
    background-color: #fff;
}
/*var _deg = _id * 15;
        	var _tx = Math.cos(_deg * Math.PI / 10) * this._rad;
	var _ty = Math.sin(_deg * Math.PI / 360) * this._rad;

        this._trgV.x = _tx * 2;
        this._trgV.y = _ty * 2;
        this._trgV.z = _id * 3;*/

#container {
    position: relative;
    width: 900px;
    margin: 0 auto;
    top: 120px;
    visibility: hidden;
}

.item {
    width: 900px;
    margin-bottom: 90px;
}

.item div {
    width: 900px;
    height: 410px;
}

.pTitle {
    visibility: hidden;
    height: 0;
}
