---
layout: default
---

<div class="home">

  <h1 class="page-heading">Page heading</h1>

  {{ content }}

  <div class="blockGroup">
    <ul class="blockGroup-list">
      {% for doc in site.documents %}
        {% if doc.tags contains "featured" %}
          <li class="block">
            {% if post.image.feature %}
              <a href="{{ doc.url }}">
                <div class="postArticle-image desaturate" style="background-image:url('{{ doc.image.feature }}')">
                </div>
              </a>
            {% else %}
            <a href="{{ doc.url }}">
              <div class="postArticle-image" style="background-color: black">
              </div>
            </a>
            {% endif %}
            <a class="postArticle-title" href="{{ doc.url }}">{{ doc.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
